.badge-in-info a{
    color: #878787;
    font-size: 16px;
}

.badge-in-info a:hover {
    color: #000;
}

.badge-in-info h1 {
    font-size: 2.3rem;
    margin: 5px 0px;
}
.badge-in-info h2 {
    font-size: 2rem;
    margin: 5px 0px;
}

.badge-in-info h3 {
    font-size: 1.75rem;
    margin: 5px 0px;
}

.badge-in-info h4 {
    font-size: 1.25rem;
    margin: 5px 0px;
}

.badge-in-info h5 {
    font-size: 1.1rem;
    margin: 5px 0px;
}
.badge-in-info h6 {
    font-size: 1rem;
    margin: 5px 0px;
}

.badge-in-info .card-header {
    font-size: 16px;
}

.badge-out-info .badge {
    font-size: 12px;
    font-weight: 600;
}

.badge-out-info button.btn {
    border-radius: 0px;
    margin: 5px 0px;
}

.badge-out-info .card-header {
    font-size: 16px;
}