.counters{
    margin-bottom:15px; 
}
.first-graph{
    background: $all-background;
    padding: 20px;
    margin-top: 10px;
margin-bottom: 20px;
min-height: 530px;
}
.first-graph span{
    font-size: $font-size + 6px;

}
.widget-detail{
    display: inline-flex;
    width: 100%;
    border-bottom: 1px dashed #ebedf2;
    padding-bottom: 10px;
    padding-top: 10px;
}
.widget-detail-text{
    padding: 0px 15px;
    width: 100%;
}
.widget-detail-text span{
    font-size: $font-size + 2px;
}
.widget-detail-text span:last-child{
    font-size: $font-size ;
    color: $inner-bg-first;
}


.package-detail{
    background: #5075e4;
    padding: 20px;
    margin-bottom: 20px;
}
.package-main-title span{
    font-size: $font-size + 6px;
    color: $header-main-background;
}
.first-package-info{
    background: $header-main-background;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}
.package-title span{
    font-size: $font-size + 4px;
    color: $main-color;
}
.package-inner-item{
    width: 100%;
display: table;
table-layout: fixed;
}
.package-content{
    display: table-cell;
}
.package-count{
    font-weight: 600;
    font-size: $font-size + 6px;
}
.package-count-1{
    color: #00c5dc;
}
.package-count-2{
    color: #716aca;
}
.package-count-3{
    color: #fe21be;
}
.package-content > span:first-child{
    color: #9699a2;
    font-size: $font-size ;
}


.counter-card{
    background: $header-main-background;
    padding: 15px;
    @media screen and (max-width: 767px) and (min-width: 320px) { 
        margin-bottom: 15px;
    }
    @media screen and (max-width: 991px) and (min-width: 768px) { 
        margin-bottom: 15px;
    }
}
.align-count{
    align-items: center !important;
}
.text-muted {
    color: #6c757d !important;
    margin-bottom: 5px;
    margin-top: 5px;
}
.text-primary{
    color: #fb9678 !important;
    font-size: $font-size + 16px;
}
.color-count-1 .text-primary{
    color: #01c0c8 !important;
}
.color-count-1 .progress-bar{
    background: #01c0c8 !important;
}
.color-count-2 .text-primary{
    color: #ab8ce4 !important;
}
.color-count-2 .progress-bar{
    background: #ab8ce4 !important;
}
.color-count-3 .text-primary{
    color: #00c292 !important;
}
.color-count-3 .progress-bar{
    background: #00c292 !important;
}
.align-count i{
    font-size: $font-size + 11px;
    color: $inner-bg-first;
}
.progress{
    height: 6px;
    margin-top: 10px;
}
.progress-bar{
    background: #fb9678 !important;
}


/*     Chart    */

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid ;
    border-bottom: 0;
    border-left: .3em solid;
  }
  
  .chart {
    margin: 30px 0 30px;
    position: relative;
  }
  
  .ct-chart-pie .ct-label, .ct-chart-donut .ct-label {
    fill: $white !important;
    color: $white !important;
  }
  
  .chart-circle {
    display: flex;
    justify-content: center;
    .circles-text {
      font-size: 28px !important;
    }
  }
  
  .color-box {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    display: inline-block;
    float: left;
    padding-top: 3px;
    margin: 2px 5px 0 0;
  }
  
  .chart-pie {
    display: block;
    position: relative;
    width: 100%;
    &:before {
      display: block;
      float: left;
      content: "";
      width: 0;
      height: 0;
      padding-bottom: 75%;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    svg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .card_content .card-footer .legend {
    display: inline-block;
}

.big-chart {
    width:100%;
    height:220px;
  }
  .line-chart {
    width:100%;
    height:100px;
  }
  .donut {width:100%;height:150px;min-width:150px;}
  
  .donut-label {
    position:absolute;
    left:45%;
    font-size:22pt;
    color:#ddd;
    width:100%;
    top:38%;
  }
  
  .flot-tick-label.tickLabel {
      font-size: 14px;
  }

  .new-card {
      min-height: auto !important;
  }
  .card-block {
    padding: 48px 10px;
    text-align: center;
}

.bg-c-green {
    background: -webkit-gradient(linear, left top, right top, from(#0ac282), to(#0df3a3));
    background: linear-gradient(to right, #0ac282, #0df3a3);
}

.bg-c-pink {
    background: -webkit-gradient(linear, left top, right top, from(#fe5d70), to(#fe909d));
    background: linear-gradient(to right, #fe5d70, #fe909d);
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#01a9ac), to(#01dbdf));
    background: linear-gradient(to right, #01a9ac, #01dbdf);
}
.bg-c-yellow {
    background: -webkit-gradient(linear, left top, right top, from(#fe9365), to(#feb798));
    background: linear-gradient(to right, #fe9365, #feb798);
}

.card {
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.1) !important;
    border-radius: 2px;
    border: none;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) and (min-width: 320px) {
        margin-bottom: 15px !important;
    }
}

.card-block-in {
    padding: 30px 0px;
    text-align: left;
    float: left;
    width: 100%;

    p{
        color: #000;
    }
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}


.user-card-full .social-link li a i {
    color: #000;
}


.user-card-full .social-link li a i.fa-facebook:hover {
    color: #4867aa;
}

.user-card-full .social-link li a i.fa-twitter:hover {
    color: #1dcaff;
}


.user-card-full .social-link li a i.fa-linkedin:hover {
    color: #007bb6;
}

ul.social-link li {
    float: left;
}


.user-card-full .social-link li a {
    margin: 0 10px 0 0;
}

.card-header h3{
    font-size: 16px;
}

.model-info .card-header {
    font-size: 16px;
}
.card-header h4 {
    font-size: 16px;
}