.prog-bar-info .card-header {
    font-size: 16px;
}

.prog-bar-info .card-body p {
    color: #878787;
}

.bg-success {
    background-color: #28a745!important;
}
.bg-info {
    background-color: #17a2b8!important;
}
.bg-warning {
    background-color: #ffc107!important;
}
.bg-danger {
    background-color: #dc3545!important;
}
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width .6s ease;
}

.prog-bar-info .progress {
    height: 14px;
    margin-top: 10px;
}

.prog-bar-info .progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    background-size: 1rem 1rem !important;
}