.switch.switch-3d {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
}

.switch.switch-3d .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-primary > .switch-input:checked ~ .switch-label {
    background: #007bff !important;
    border-color: #0062cc;
}
.switch-pill .switch-label, .switch.switch-3d .switch-label, .switch-pill .switch-handle, .switch.switch-3d .switch-handle {
    border-radius: 50em !important;
}

.switch.switch-3d .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    transition: opacity background .15s ease-out;
}

.switch.switch-3d .switch-input:checked ~ .switch-handle {
    left: 16px;
}

.switch-primary > .switch-input:checked ~ .switch-handle {
    border-color: #0062cc;
}
.switch-pill .switch-label, .switch.switch-3d .switch-label, .switch-pill .switch-handle, .switch.switch-3d .switch-handle {
    border-radius: 50em !important;
}
.switch.switch-3d .switch-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #e9ecef;
    border-radius: 1px;
    transition: left .15s ease-out;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.switch-secondary > .switch-input:checked ~ .switch-label {
    background: #868e96 !important;
    border-color: #6c757d;
}

.switch-success > .switch-input:checked ~ .switch-label {
    background: #28a745 !important;
    border-color: #1e7e34;
}

.switch-warning > .switch-input:checked ~ .switch-label {
    background: #ffc107 !important;
    border-color: #d39e00;
}
.switch-info > .switch-input:checked ~ .switch-label {
    background: #17a2b8 !important;
    border-color: #117a8b;
}
.switch-danger > .switch-input:checked ~ .switch-label {
    background: #dc3545 !important;
    border-color: #bd2130;
}

.switches-info .card-header {
    font-size: 16px;
}

.switch-primary>.switch-input:checked~.switch-label {
    background: #007bff!important;
    border-color: #0062cc;
}
.switch.switch-default {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
}

.switch.switch-default .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.switch.switch-default .switch-input:checked~.switch-handle {
    left: 18px;
}

.switch-primary>.switch-input:checked~.switch-handle {
    border-color: #0062cc;
}
.switch.switch-default .switch-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #e9ecef;
    border-radius: 1px;
    transition: left .15s ease-out;
}
.switch.switch-default .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    transition: opacity background .15s ease-out;
}

.switch-warning-outline>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #ffc107;
}

.switch.switch-default .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    transition: opacity background .15s ease-out;
}

.switch-warning-outline>.switch-input:checked~.switch-handle {
    border-color: #ffc107;
}

.switch-primary-outline>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #007bff;
}

.switch-primary-outline>.switch-input:checked~.switch-handle {
    border-color: #007bff;
}

.switch-secondary-outline>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #868e96;
}

.switch-secondary-outline>.switch-input:checked~.switch-handle {
    border-color: #868e96;
}

.switch-success-outline>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #28a745;
}

.switch-success-outline>.switch-input:checked~.switch-handle {
    border-color: #28a745;
}

.switch-info-outline>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #17a2b8;
}

.switch-info-outline>.switch-input:checked~.switch-handle {
    border-color: #17a2b8;
}

.switch-danger-outline>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #dc3545;
}

.switch-danger-outline>.switch-input:checked~.switch-handle {
    border-color: #dc3545;
}

.switch-primary-outline-alt>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #007bff;
}

.switch-primary-outline-alt>.switch-input:checked~.switch-handle {
    background: #007bff!important;
    border-color: #007bff;
}

.switch-secondary-outline-alt>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #868e96;
}
.switch-secondary-outline-alt>.switch-input:checked~.switch-handle {
    background: #868e96!important;
    border-color: #868e96;
}

.switch-success-outline-alt>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #28a745;
}

.switch-success-outline-alt>.switch-input:checked~.switch-handle {
    background: #28a745!important;
    border-color: #28a745;
}

.switch-warning-outline-alt>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #ffc107;
}


.switch-warning-outline-alt>.switch-input:checked~.switch-handle {
    background: #ffc107!important;
    border-color: #ffc107;
}

.switch-info-outline-alt>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #17a2b8;
}

.switch-info-outline-alt>.switch-input:checked~.switch-handle {
    background: #17a2b8!important;
    border-color: #17a2b8;
}

.switch-danger-outline-alt>.switch-input:checked~.switch-label {
    background: #fff!important;
    border-color: #dc3545;
}

.switch-danger-outline-alt>.switch-input:checked~.switch-handle {
    background: #dc3545!important;
    border-color: #dc3545;
}

.switch.switch-text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
}
.switch.switch-text .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.switch-primary>.switch-input:checked~.switch-label {
    background: #007bff!important;
    border-color: #0062cc;
}
.switch.switch-text .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    transition: opacity background .15s ease-out;
}

.switch.switch-text .switch-input:checked~.switch-label::before {
    opacity: 0;
}
.switch.switch-text .switch-label::before {
    right: 1px;
    color: #e9ecef;
    content: attr(data-off);
}
.switch.switch-text .switch-label::before, .switch.switch-text .switch-label::after {
    position: absolute;
    top: 50%;
    width: 50%;
    margin-top: -.5em;
    line-height: 1;
    text-align: center;
    transition: inherit;
}

.switch.switch-text .switch-input:checked~.switch-label::after {
    opacity: 1;
}
.switch.switch-text .switch-label::after {
    left: 1px;
    color: #fff;
    content: attr(data-on);
    opacity: 0;
}
.switch.switch-text .switch-label::before, .switch.switch-text .switch-label::after {
    position: absolute;
    top: 50%;
    width: 50%;
    margin-top: -.5em;
    line-height: 1;
    text-align: center;
    transition: inherit;
}



.switch.switch-text .switch-input:checked~.switch-handle {
    left: 26px;
}
.switch-primary>.switch-input:checked~.switch-handle {
    border-color: #0062cc;
}
.switch.switch-text .switch-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #e9ecef;
    border-radius: 1px;
    transition: left .15s ease-out;
}