.typo-info p {
    color: #000;
}

.bg-flat-color-1 {
    background: #20a8d8;
}

.typo-info ul li {
    font-size: 16px;
}


.typo-info ol li {
    font-size: 16px;
}

.typo-info address.mt-3 {
    font-size: 16px;
}

.typo-info h3 {
    font-size: 22px;
}

.typo-info .jumbotron {
    font-size: 16px;
}

.typo-info .card-header {
    font-size: 16px;
}