    // Color Property Start
    $main-color : #222222;
    $inner-second-color : #9699a2;
    $inner-third-color : #868aa8;
    $inner-fourth-color : #c5c5c5;
    // Color Property End
    //Hover Color
    $hover-color-first : #292b3a;
    //Hover Color
    // BackGround Color Property Start
    $header-main-background : #2962FF;
    $header-left-side: #fff;
    $inner-bg-first : #c5c5c5;
    $inner-bg-second : #fff;
    $inner-bg-third : #8d2be7;
    $inner-bg-fourth : #5075e4;
    $all-background: #fff;
    // BackGround Color Property End

    $all-btn : #2068b0;
    $main-bg : #ecf0f5;

    // Font Size Property Start

    $font-size : 14px;
    $font-weight : 600;
    $h1 : 32px;
    $h2 : 24px;
    $h3 : 18px;
    $h4 : 16px;
    $h5 : 13px;
    $h6 : 10px;

    // Font color


    // Other Property Start

    $line-height: 22px;
    $font-weight: 500;

    // Other Property End